.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    font-family: outfit;
    height: 100vh;
    width: 100vw;
  
    overflow-x: hidden;
   
}
.text_title{
    text-align: center;
    margin: auto;
    line-height: .9;
    z-index: 10;
    
    
}
.text_title span{
    color:rgb(255, 147, 7);
}
.text_title h3{
    font-size: 20px;
    font-weight: 300;
}
.text_title h1{
    font-size: 150px;
    font-weight: 800;
    margin-top: 10px;
    z-index: 10;
}
.social_handles{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
    cursor: pointer;
    bottom: 0;
}
.social_handles ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
.social_handles ul li  {
    font-weight: 200;
    transition: .3s ease all ;}
.social_handles ul li:hover  {
    font-weight: 500;
}
.social_handles ul li a {
    text-decoration: none;
    color: black;
}
.decorationCircle {
    height: 600px;
    width: 600px;
    background-image: radial-gradient(closest-side, rgba(255, 147, 7, 0.534), rgb(255, 255, 255));
    position: absolute; 
    left: -18%;
}
.decorationCircle2 {
    height: 600px;
    width: 500px;
    background-image: radial-gradient(closest-side, rgba(255, 147, 7, 0.097), rgb(255, 255, 255));
    position: absolute; 
    right: -18%;
}