.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    position: fixed;
    width: 100%;
    transition:  0.3s ease-in-out;
    background-color: white;
    z-index: 999;
}

.li_active a {
    color: white;
}
.logo h1{
    font-family: outfit;
   font-weight: 600;
}   
.option ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.option ul li a{
    text-decoration: none;
    color: black;
    font-family: outfit;
    font-weight: 300;
    
}
.option ul li a:hover::after{
    content: '';
    display: flex;
    background-color: black;
    height: 1.5px;
    width: 100%;
    

}
.option ul li a::after{
    content: '';
    width: 0%;
    display: flex;
    background-color: black;
    height: 2px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}
.call_button button{
    padding: 10px 20px;
    border-radius: 1px;
    background-color: #fff;
    color: black;
    font-family: outfit;
    border: 1px solid;
    font-weight: 500;
    text-decoration: none;
}
.call_button button:hover{
    background-color: black;
    color: white;
    transition: 0.6s ease-in-out;
    
   
}